# Language overrides for GitHub Linguist
*.java linguist-detectable
*.jsp linguist-detectable
*.css linguist-detectable
*.js linguist-detectable
*.sql linguist-detectable

# Exclude non-source / scripts from language stats
*.py linguist-vendored
*.py -linguist-detectable
scratch/* linguist-vendored
scratch/** linguist-vendored
*.html linguist-vendored
*.docx linguist-vendored
*.pdf linguist-vendored
